/* KMEANS */
#svg_kmeans .axis path, #svg_kmeans .axis line { 
    fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

#svg_kmeans .axis text {
	font-family: sans-serif;
	font-size: 11px;
}

#svg_kmeans .km0 { 
    fill: red;
    stroke: red;
}
#svg_kmeans .km1 { 
    fill: blue;
    stroke: blue;
}
#svg_kmeans .km2 { 
    fill: green;
    stroke: green;
}
#svg_kmeans .vor { 
    opacity:0.1; 
}
#svg_kmeans line.km0, #svg_kmeans line.km1, #svg_kmeans line.km2 {
    stroke-width: 1; 
    stroke-dasharray: 2,2;
}
#svg_kmeans .centroid {
    stroke: black; 
    stroke-width: 2; 
    stroke-dasharray: 2,0;
}