/* GENERAL DESIGN CSS */

html, body, nav, header, section, div, h1, p, ul, li { margin:0px; padding:0px; }
		
body { 
    background: white; 
	font-family: 'Lato', 'Merriweather', sans-serif; font-weight: 300; font-size: 16px; line-height: 1em;
}

strong {
    font-weight: 500;
}

h1 {
    padding: 0px 100px;
    padding-bottom: 20px; 
    font-size: 2.5em; line-height:1em; font-weight: 400;
    text-align:center; text-shadow: 0px 1px 2px #ddd;
}
p {
    padding: 20px 100px; padding-bottom: 40px;
    font-size:1.1em; line-height: 1.6em;
}
ul {
    display:block;
    padding: 10px 150px;
}
li {
    font-size: 1.1em; line-height: 1.6em;
}

.left { float:left; }
.right { float:right; }
.clear { clear:both; }

header {
    padding: 0px 0px;
    font-weight: 400; font-size: 56px; line-height: 1em;
    color: #1d70ae; text-shadow: 0px 1px 2px #ccc;
    letter-spacing: 2px;
}
section {
    /*border-bottom: 2px solid #f7f7f7;*/
}
.wrapper {
    width: 800px;
    margin:0px auto; padding: 100px 0px;
}

img.icon { 
    opacity: 0.3;
    border: 0px;
    cursor: pointer;
	transition: transform 2s; -webkit-transition: -webkit-transform 2s; -moz-transition: -moz-transform 2s; 
}
img.icon:hover { 
    transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); 
}

div.graphHeader { 
    margin-bottom: 20px;
	font-weight: 500;
}

span.lbl {
    padding: 3px 6px;
    background: rgba(12,98,177,0.1); /*#c3d3e0; */
    border: 0px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
    font-weight: 500;
}

table.idx {
    width:600px;
    margin: 0px auto;
}
table.idx td {
    padding: 8px 0px;
}
table.idx td:last-child {
    text-align: right;
}

a.idx:link, a.idx:visited, a.idx:active {
    color: #777; font-weight: 500;
    text-decoration: none;
}
a.idx:hover {
    color: #14609d;
}

/* BUTTONS */
.btn {
    margin: 5px; padding: 10px 20px; 
    background: steelblue;
    border: 0px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
    color: white;
    cursor: pointer;
    appearance: none; -webkit-appearance: none; -moz-appearance: none;
}
.btn:hover {
    background: #225a87;
}
.btn.sel {
    background: #093356; color: yellow;
}