/* BAR CHART */
#svg_bar text { 
    fill: black; 
    font-size:10px; font-family:sans-serif; text-anchor: middle; 
}            
#svg_bar .bar1 .bar {
    fill: #64d668; background: #64d668;
}
#svg_bar .bar2 .bar {
    fill: #2088e3;
}
#svg_bar .bar:hover { 
    fill:orange;
}
#svg_bar .bar {
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;
   -webkit-transition: all 0.2s;
   transition: all 0.2s;
}

#svg_bar .axis { font: 10px sans-serif; color:#555; }

#svg_bar .axis path, #svg_bar .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }

#svg_bar .x.axis path { display: none; }

#svg_bar .grid .tick { stroke: lightgrey; opacity: 0.7; }
#svg_bar .grid path { stroke-width: 0; }
