<!DOCTYPE html>
<html>

    <head>

        {% include head.html %}
        
        <style>
            .lwk-main-container {
                background: #f9f9f9;
            }
            .lwk-main-container .mdl-layout__header,
            .lwk-main-container .mdl-layout__drawer-button {
                color: white;
            }
            .mdl-layout__header {
                background: rgba(12,16,61,1);
            }
        </style>

    </head>

    <body>

        <div class="lwk-main-container mdl-layout mdl-js-layout">

            <!-- <div id="particles-js" class="particles-container"></div> -->
            <!-- // <script src="../js/particles.min.js"></script> -->
            <!-- // <script src="../js/app.js"></script> -->

            {% include nav.html %}

            <main class="mdl-layout__content">

                {{ content }}
            
            </main>

        </div>

        {% include footer.html %}

    </body>

</html>